@model u22620355_HW03.Models.HomeVM

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<br/>

<div class="container">

    <div class="row">

        <!-- Students Section -->
        <div class=" col-md-6">
            <h3>Students</h3>
            <br/>
            <p>
                @Html.ActionLink("Create New Student", "Create", "Students", new { area = "" }, new { @class = "btn btn-primary", @data_toggle = "modal", @data_target = "#studentModal" })
            </p>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.students[0].name)</th>
                    <th>@Html.DisplayNameFor(model => model.students[0].surname)</th>
                    <th>@Html.DisplayNameFor(model => model.students[0].birthdate)</th>
                </tr>
                @foreach (var student in Model.students)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => student.name)</td>
                        <td>@Html.DisplayFor(m => student.surname)</td>
                        <td>@Html.DisplayFor(m => student.birthdate)</td>
                    </tr>
                }
            </table>
        </div>

        <!-- Books Section -->
        <div class=" col-md-6">
            <h3>Books</h3>
            <br/>
            <p>
                @Html.ActionLink("Create New Book", "Create", "Books", new { area = "" }, new { @class = "btn btn-primary", @data_toggle = "modal", @data_target = "#bookModal" })
            </p>
            <table class="table">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.books[0].name)</th>
                    <th>Author</th>
                    <th>Status</th>
                </tr>
                @foreach (var book in Model.books)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => book.name)</td>
                        <td>@Html.DisplayFor(m => book.authors.name) @Html.DisplayFor(m => book.authors.surname)</td>
                        <td>@Html.DisplayFor(m => book.Status)</td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

        <!-- Modals for Create New Student and Book -->
        <!-- Student Modal -->
        <div class="modal fade" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="studentModalLabel">Create New Student</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form for creating a new student goes here -->
                    </div>
                </div>
            </div>
        </div>

        <!-- Book Modal -->
        <div class="modal fade" id="bookModal" tabindex="-1" role="dialog" aria-labelledby="bookModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="bookModalLabel">Create New Book</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- Form for creating a new book goes here -->
                    </div>
                </div>
            </div>
        </div>



